.react-datepicker__day--selected {
background-color: #7BB564 !important;
border-radius: 50px !important;
}
.bookcleaner {
    display: flex;
    // align-items: center;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 1020px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 313px);
        margin-inline: 20px;

        .tag-label {
            margin-inline: 0px;
            color: #000;
        }

        h2 {
            margin: 30px 0px;
            color: #7BB564;
            font-weight: 900;
        }

        figure {
            width: 80%;
            height: 100%;
            
            img {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                object-fit: contain;
                max-height: 325px;

            }
        }

        .ouper {
            margin-bottom: 10px;
        }

        .date-wrapper {
            min-width: 70%;

            .form-control {
                margin: 0;
            }
        }

        .form-control {
            width: 100%;
            max-width: 550px;

            .input-container {
                margin: 8px 0px;
                border-radius: 16px;

                label {
                    font-size: 18px;
                    padding-top: 10px;
                    margin: 0;
                }

                input {
                    height: auto;
                    border: none;
                    padding: 5px 0px 5px 20px;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }

        .card-cleaner {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0px auto 0px 10%;
            align-items: flex-start;
            align-self: flex-start;
            .package-box{
                display: flex;
                gap: 20px;
                .chakra-radio{
                    
                    display: flex;
                    flex-direction: row-reverse;
                    border: 1px solid #7BB564;
                    padding:10px;
                    gap: 10px;
                    border-radius: 6px;
                }
            }
            h4 {
                margin: 20px 0px 10px;

            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;

                li {
                    font-size: 16px;
                    text-align: initial;
                    margin: 10px 0px 0px 0px;
                    color: #707070;
                    font-weight: 300;
                }
            }

        }
        .time-slot {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0px auto 0px 10%;
            flex-wrap: wrap;
            align-items: flex-start;
            align-self: flex-start;
            .package-box{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                .chakra-radio{
                    
                    display: flex;
                    flex-direction: row-reverse;
                    border: none;
                    color: #7BB564;
                    justify-content: space-between;
                    width: 48%;
                    padding:10px;background-color: #FAFAFA;
                    max-width: 350px;
                    gap: 10px;
                    border-radius: 6px;
                    span{
                        color: #000;
                    }
                }
            }
            h4 {
                margin: 20px 0px 10px;

            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;

                li {
                    font-size: 16px;
                    text-align: initial;
                    margin: 10px 0px 0px 0px;
                    color: #707070;
                    font-weight: 300;
                }
            }

        }

        p {
            text-align: initial;
            color: #707070;
            font-weight: 300;
        }

        h1 {
            margin: 30px 0px 0px;
        }

    }

}

@media only screen and (max-width: 1440px) {
    .bookcleaner {
        .wrapper {
            max-width: 800px;
            min-height: calc(100vh - 251.48px);
            figure {
                width: 80%;
                height: 100%;
                
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    margin: 0 auto;
                    max-height: 255px;
                }
            }
            h2 {
                font-size: 30px;
            }

            .form-control {
                max-width: 400px;

                .input-container {

                    label {
                        font-size: 16px;
                        margin: 0;
                    }

                    input {
                        font-size: 16px;
                    }

                }
            }

        }
    }

}


@media only screen and (max-width: 1024px) {
    .bookcleaner {
        .wrapper {
            figure {
                width: 80%;
                height: 100%;
               
    
                img {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    object-fit: contain; 
                    max-height: 191px;
                }
            }
            max-width: 600px;
            min-height: calc(100vh - 275.48px);

        }
    }

}

@media only screen and (max-width: 768px) {
    .bookcleaner {
        .wrapper {
            max-width: 90%;
            min-height: calc(100vh - 275.48px);

            .date-wrapper {
                min-width: 90%;
            }

            .card-cleaner {
                margin-left: 0px;
            }
            .time-slot {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0px auto 0px 10%;
                flex-wrap: wrap;
                align-items: flex-start;
                align-self: flex-start;
                .package-box{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    .chakra-radio{
                        
                        display: flex;
                        flex-direction: row-reverse;
                        border: none;
                        color: #7BB564;
                        justify-content: space-between;
                        width: 80%;
                        padding:10px;background-color: #FAFAFA;
                        margin: 0 auto;
                        gap: 10px;
                        border-radius: 6px;
                        span{
                            color: #000;
                        }
                    }
                }
                h4 {
                    margin: 20px 0px 10px;
    
                }
    
                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
    
                    li {
                        font-size: 16px;
                        text-align: initial;
                        margin: 10px 0px 0px 0px;
                        color: #707070;
                        font-weight: 300;
                    }
                }
    
            }
        }
    }

}

@media only screen and (max-width: 400px) {
    .bookcleaner {
        .wrapper {
            .time-slot {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0px auto 0px 10%;
                flex-wrap: wrap;
                align-items: flex-start;
                align-self: flex-start;
                .package-box{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    .chakra-radio{
                        
                        display: flex;
                        flex-direction: row-reverse;
                        border: none;
                        color: #7BB564;
                        justify-content: space-between;
                        width: 80%;
                        padding:10px;background-color: #FAFAFA;
                        margin: 0 auto;
                        gap: 10px;
                        border-radius: 6px;
                        span{
                            color: #000;
                        }
                    }
                }
                h4 {
                    margin: 20px 0px 10px;
    
                }
    
                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
    
                    li {
                        font-size: 16px;
                        text-align: initial;
                        margin: 10px 0px 0px 0px;
                        color: #707070;
                        font-weight: 300;
                    }
                }
    
            }
            .date-wrapper {

                .form-control {
                    padding-left: 30px;
                }
            }

        }
    }

}