.details-page {
    display: flex;
    // align-items: center;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .our-services {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-block: 30px;
        align-items: center;

        .wrapper {
            max-width: 1440px;
            display: flex;
            width: 100%;
            flex-direction: column;

            p {
                font-weight: 300;
                margin-bottom: 30px;
            }

            .main-heading,
            h2 {
                font-weight: 500;
                margin-bottom: 30px;
                color: #7BB564;
                font-size: 36px;
            }

            .servicebook-container,
            .servicetags-container {
                display: flex;
                flex: 1;
                justify-content: center;
                flex-wrap: wrap;
                // max-width: 600px;
                gap: 10px;

                a {
                    .servicetag-box {
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 160px;

                        figure {
                            width: 80px;
                            height: 80px;
                            margin: 0;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        p {
                            font-family: 'Circular Spotify Text';
                            text-align: center;
                            font-weight: 300;
                            margin: 0;
                        }
                    }
                }

            }


        }
    }

    .whatwedo {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .wrapper {
            max-width: 1440px;
            display: flex;
            width: 100%;
            flex-direction: column;

            h2 {
                margin-bottom: 0;
                font-family: 'Circular Spotify Text';
            }

            p {
                font-family: "Circular Spotify Text";
                text-align: left;
                width: 90%;
                font-weight: 300;
                margin-bottom: 60px;
                margin: 20px auto;
            }
        }
    }

    .our-reviews {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .wrapper {
            max-width: 1440px;
            display: flex;
            width: 100%;
            flex-direction: column;

            h2 {
                margin-bottom: 0;
                font-family: 'Circular Spotify Text';
            }

            .reviewers-container {
                display: flex;
                flex: 1 1;
                justify-content: space-around;
                width: 100%;
                margin: 23px 0px;

                .review-card {
                    background-color: #EDEFEA;
                    padding: 27px 26px 27px 26px;
                    display: flex;
                    width: 23%;
                    flex-direction: column;
                    border-radius: 45px;
                    align-items: center;
                    justify-content: center;

                    .circle {
                        width: 100px;
                        height: 100px;

                        figure {
                            margin: 0;
                            width: 100px;
                            height: 100px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    h5 {
                        margin: 21px 0px 16px 0px;
                        font-size: 22px;
                        font-family: 'Circular Spotify Text';
                    }

                    figure {
                        width: 204px;
                        object-fit: none;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .details-page {

        .our-services,
        .whatwedo,
        .our-reviews {

            .wrapper {
                max-width: 1024px;

                .main-heading {
                    font-size: 30px;
                }

                .servicebook-container,
                .servicetags-container {

                    a {
                        .servicetag-box {
                            display: flex;
                            gap: 20px;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            width: 130px;

                            figure {
                                width: 60px;
                                height: 60px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                    }

                }

                .reviewers-container {
                    .review-card {
                        width: 25%;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .details-page {

        .our-reviews {

            .wrapper {

                .reviewers-container {

                    .review-card {
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .details-page {

        .our-reviews {

            .wrapper {

                .reviewers-container {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1;
                    justify-content: space-around;
                    width: 100%;
                    margin: 23px 0px;

                    .review-card {
                        width: 60%;
                        margin-bottom: 15px;
                        margin-inline: auto;

                        figure {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 440px) {
    .details-page {

        .our-reviews {

            .wrapper {

                .reviewers-container {

                    .review-card {
                        width: 90%;

                    }
                }
            }
        }
    }
}