.details-page {
  display: flex;
  background: #F8F6F5 0% 0% no-repeat padding-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.details-page .our-services {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-block: 30px;
  align-items: center;
}
.details-page .our-services .wrapper {
  max-width: 1440px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.details-page .our-services .wrapper p {
  font-weight: 300;
  margin-bottom: 30px;
}
.details-page .our-services .wrapper .main-heading,
.details-page .our-services .wrapper h2 {
  font-weight: 500;
  margin-bottom: 30px;
  color: #7BB564;
  font-size: 36px;
}
.details-page .our-services .wrapper .servicebook-container,
.details-page .our-services .wrapper .servicetags-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box figure,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box figure {
  width: 80px;
  height: 80px;
  margin: 0;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box figure img,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box p,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box p {
  font-family: "Circular Spotify Text";
  text-align: center;
  font-weight: 300;
  margin: 0;
}
.details-page .whatwedo {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.details-page .whatwedo .wrapper {
  max-width: 1440px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.details-page .whatwedo .wrapper h2 {
  margin-bottom: 0;
  font-family: "Circular Spotify Text";
}
.details-page .whatwedo .wrapper p {
  font-family: "Circular Spotify Text";
  text-align: left;
  width: 90%;
  font-weight: 300;
  margin-bottom: 60px;
  margin: 20px auto;
}
.details-page .our-reviews {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.details-page .our-reviews .wrapper {
  max-width: 1440px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.details-page .our-reviews .wrapper h2 {
  margin-bottom: 0;
  font-family: "Circular Spotify Text";
}
.details-page .our-reviews .wrapper .reviewers-container {
  display: flex;
  flex: 1 1;
  justify-content: space-around;
  width: 100%;
  margin: 23px 0px;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card {
  background-color: #EDEFEA;
  padding: 27px 26px 27px 26px;
  display: flex;
  width: 23%;
  flex-direction: column;
  border-radius: 45px;
  align-items: center;
  justify-content: center;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card .circle {
  width: 100px;
  height: 100px;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card .circle figure {
  margin: 0;
  width: 100px;
  height: 100px;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card .circle figure img {
  width: 100%;
  height: 100%;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card h5 {
  margin: 21px 0px 16px 0px;
  font-size: 22px;
  font-family: "Circular Spotify Text";
}
.details-page .our-reviews .wrapper .reviewers-container .review-card figure {
  width: 204px;
  -o-object-fit: none;
     object-fit: none;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card figure img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1440px) {
  .details-page .our-services .wrapper,
  .details-page .whatwedo .wrapper,
  .details-page .our-reviews .wrapper {
    max-width: 1024px;
  }
  .details-page .our-services .wrapper .main-heading,
  .details-page .whatwedo .wrapper .main-heading,
  .details-page .our-reviews .wrapper .main-heading {
    font-size: 30px;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box,
  .details-page .whatwedo .wrapper .servicebook-container a .servicetag-box,
  .details-page .whatwedo .wrapper .servicetags-container a .servicetag-box,
  .details-page .our-reviews .wrapper .servicebook-container a .servicetag-box,
  .details-page .our-reviews .wrapper .servicetags-container a .servicetag-box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box figure,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box figure,
  .details-page .whatwedo .wrapper .servicebook-container a .servicetag-box figure,
  .details-page .whatwedo .wrapper .servicetags-container a .servicetag-box figure,
  .details-page .our-reviews .wrapper .servicebook-container a .servicetag-box figure,
  .details-page .our-reviews .wrapper .servicetags-container a .servicetag-box figure {
    width: 60px;
    height: 60px;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box figure img,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box figure img,
  .details-page .whatwedo .wrapper .servicebook-container a .servicetag-box figure img,
  .details-page .whatwedo .wrapper .servicetags-container a .servicetag-box figure img,
  .details-page .our-reviews .wrapper .servicebook-container a .servicetag-box figure img,
  .details-page .our-reviews .wrapper .servicetags-container a .servicetag-box figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .details-page .our-services .wrapper .reviewers-container .review-card,
  .details-page .whatwedo .wrapper .reviewers-container .review-card,
  .details-page .our-reviews .wrapper .reviewers-container .review-card {
    width: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  .details-page .our-reviews .wrapper .reviewers-container .review-card {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .details-page .our-reviews .wrapper .reviewers-container {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-around;
    width: 100%;
    margin: 23px 0px;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card {
    width: 60%;
    margin-bottom: 15px;
    margin-inline: auto;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card figure {
    width: 150px;
  }
}
@media only screen and (max-width: 440px) {
  .details-page .our-reviews .wrapper .reviewers-container .review-card {
    width: 90%;
  }
}/*# sourceMappingURL=details.css.map */