.details-page {
  display: flex;
  background: #F8F6F5 0% 0% no-repeat padding-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.details-page .our-services {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 100px 20px;
  align-items: center;
}
.details-page .our-services .wrapper {
  max-width: 1920px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.details-page .our-services .wrapper p {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
.details-page .our-services .wrapper h2 {
  font-size: 80px;
  color: #7BB564;
  font-weight: 500;
}
.details-page .our-services .wrapper h3 {
  font-size: 71px;
  margin-bottom: 70px;
}
.details-page .our-services .wrapper .servicetags-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}
.details-page .our-services .wrapper .servicebook-container,
.details-page .our-services .wrapper .servicetags-container {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  gap: 50px;
  flex: 1;
  align-items: center;
  width: 100%;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box {
  display: flex;
  gap: 31px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box figure,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box figure {
  width: 150px;
  height: 150px;
  margin: 0;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box figure img,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box figure img {
  width: 100%;
  height: 100%;
}
.details-page .our-services .wrapper .servicebook-container a .servicetag-box p,
.details-page .our-services .wrapper .servicetags-container a .servicetag-box p {
  font-size: 36px;
  font-family: "Circular Spotify Text";
  text-align: center;
  font-weight: 300;
  margin: 0;
}
.details-page .whatwedo {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-inline: 20px;
}
.details-page .whatwedo .wrapper {
  max-width: 1920px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.details-page .whatwedo .wrapper h2 {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Circular Spotify Text";
}
.details-page .whatwedo .wrapper p {
  margin: 0;
  font-size: 30px;
  font-family: "Circular Spotify Text";
  text-align: left;
  font-weight: 300;
  margin-bottom: 60px;
  line-height: 48px;
}
.details-page .our-reviews {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-inline: 20px;
}
.details-page .our-reviews .wrapper {
  max-width: 1920px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.details-page .our-reviews .wrapper h2 {
  font-size: 80px;
  margin-bottom: 10px;
  font-family: "Circular Spotify Text";
}
.details-page .our-reviews .wrapper .reviewers-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card {
  background-color: #EDEFEA;
  padding: 27px 26px 27px 26px;
  display: flex;
  flex-direction: column;
  border-radius: 118px;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 20px;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card .circle {
  width: 260px;
  height: 260px;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card .circle figure {
  margin: 0;
  width: 260px;
  height: 260px;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card .circle figure img {
  width: 100%;
  height: 100%;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card h5 {
  margin: 21px 0px 16px 0px;
  font-size: 57px;
  font-family: "Circular Spotify Text";
}
.details-page .our-reviews .wrapper .reviewers-container .review-card figure {
  width: 444px;
  height: 82px;
  object-fit: none;
}
.details-page .our-reviews .wrapper .reviewers-container .review-card figure img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1920px) {
  .details-page {
    display: flex;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .details-page .our-services {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-block: 30px;
    align-items: center;
  }
  .details-page .our-services .wrapper {
    max-width: 1440px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .details-page .our-services .wrapper p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .details-page .our-services .wrapper h2 {
    font-size: 48px;
    color: #7BB564;
    font-weight: 900;
  }
  .details-page .our-services .wrapper h3 {
    font-size: 48px;
    margin-bottom: 70px;
  }
  .details-page .our-services .wrapper .servicebook-container,
  .details-page .our-services .wrapper .servicetags-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 10px;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box {
    display: flex;
    gap: 31px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 160px;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box figure,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box figure {
    width: 110px;
    height: 110px;
    margin: 0;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box figure img,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .details-page .our-services .wrapper .servicebook-container a .servicetag-box p,
  .details-page .our-services .wrapper .servicetags-container a .servicetag-box p {
    font-size: 20px;
    font-family: "Circular Spotify Text";
    text-align: center;
    font-weight: 300;
    margin: 0;
  }
  .details-page .whatwedo {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .details-page .whatwedo .wrapper {
    max-width: 1440px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .details-page .whatwedo .wrapper h2 {
    font-size: 36px;
    margin-bottom: 0;
    font-family: "Circular Spotify Text";
  }
  .details-page .whatwedo .wrapper p {
    font-size: 20px;
    font-family: "Circular Spotify Text";
    text-align: left;
    width: 90%;
    font-weight: 300;
    margin-bottom: 60px;
    line-height: 32px;
    margin: 20px auto;
  }
  .details-page .our-reviews {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .details-page .our-reviews .wrapper {
    max-width: 1440px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .details-page .our-reviews .wrapper h2 {
    font-size: 36px;
    margin-bottom: 0;
    font-family: "Circular Spotify Text";
  }
  .details-page .our-reviews .wrapper .reviewers-container {
    display: flex;
    flex: 1 1;
    justify-content: space-around;
    width: 100%;
    margin: 23px 0px;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card {
    background-color: #EDEFEA;
    padding: 27px 26px 27px 26px;
    display: flex;
    width: 23%;
    flex-direction: column;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card .circle {
    width: 100px;
    height: 100px;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card .circle figure {
    margin: 0;
    width: 100px;
    height: 100px;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card .circle figure img {
    width: 100%;
    height: 100%;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card h5 {
    margin: 21px 0px 16px 0px;
    font-size: 22px;
    font-family: "Circular Spotify Text";
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card figure {
    width: 204px;
    height: 40px;
    object-fit: none;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card figure img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .details-page .our-reviews .wrapper .reviewers-container {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-around;
    width: 100%;
    margin: 23px 0px;
  }
  .details-page .our-reviews .wrapper .reviewers-container .review-card {
    width: 60%;
    margin-bottom: 15px;
    margin-inline: auto;
  }
}

/*# sourceMappingURL=details.css.map */
