.itempage{
    display: flex;
    // align-items: center;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .wrapper{
        width: 100%;
        max-width: 1550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4{
            color: #7BB564;
            font-size: 115px;
        }
        h5{
            color: #7BB564;
            font-size: 72px;
        }
        .itemcontainer{
            display: flex;
            flex-direction: column;
            .item-row{
                display: flex;
                justify-content: space-between;
                .price{
                    font-size: 40px;
                }
                .price-number{
                    color: #7BB564;
                    font-size: 40px;
                }
            }
            figure{
                width: 950px;
                height: 438px;
                border-radius: 19px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .quantity-container{
            display: flex;
            flex-direction: column;
            p{
            font-size: 33px;text-align: left;
            }
            .quantity{
                font-size: 40px;
                display: flex;
                justify-content: flex-start;
                gap: 40px;
                align-items:center ;

                 p{
                    display: flex;
                    flex-direction: column;
                    align-items: center;    padding: 25px 50px;

                    justify-content: center;
                    border: 1px solid #7BB564;
                    color:#868E96 ;
                    background: #FAFAFA 0% 0% no-repeat padding-box;
                 }
            }
        } .wallet-btn{
            width: 100%;
            color: #7BB564;
            margin: 0 auto;
            /* margin: 102px 0px; */
            max-width: 790px;
            button{
              font-size: 40px;
              font-weight: 600;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 73px 95px 69px 170px ;
              border-radius: 111110px;
            }
      }
    }
}
@media only screen and (max-width: 1750px) {
    .itempage{
        display: flex;
        // align-items: center;
        background: #F8F6F5 0% 0% no-repeat padding-box;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .wrapper{
            width: 100%;
            max-width: 1550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4{
                color: #7BB564;
                font-size: 56px;
            }
            h5{
                color: #7BB564;
                font-size: 38px;
            }
            .itemcontainer{
                display: flex;
                flex-direction: column;
                width: 80%;
                align-items: center;
                .item-row{
                    display: flex;
                    width: 80%;
                    justify-content: space-between;
                    .price{
                        font-size: 28px;
                    }
                    .price-number{
                        color: #7BB564;
                        font-size: 24px;
                    }
                }
                figure{
                    width: 80%;
                    height: 100%;
                    border-radius: 19px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .quantity-container{
                display: flex;
                width: 80%;
                flex-direction: column;
                p{
                    font-size: 28px;
                    text-align: left;
                    margin: 20px 0px;
                }
                .quantity{
                    font-size: 24px;
                    display: flex;
                    justify-content: flex-start;
                    gap: 40px;
                    align-items:center ;
    
                     p{
                        display: flex;
                        flex-direction: column;
                        align-items: center;       padding: 13px 30px;
                        justify-content: center;
                        border: 1px solid #7BB564;
                        color:#868E96 ;
                        background: #FAFAFA 0% 0% no-repeat padding-box;
                     }
                }
            } .wallet-btn{
                width: 100%;
                color: #7BB564;
                margin: 30px auto ;
                button{
                  font-size: 24px;
                  font-weight: 600;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 50px 45px 50px 75px;
                  border-radius: 111110px;
                  width: 400px;
                 margin: 0 auto 20px auto;
                }
          }
        }
    }
}