.marketplace {
  background: #F8F6F5 0% 0% no-repeat padding-box;
}
.marketplace .wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 50px auto;
  display: block;
  align-items: center;
  min-height: calc(100vh - 313px);
  padding-inline: 20px;
}
.marketplace .wrapper h2 {
  color: #7BB564;
}
.marketplace .wrapper .upper-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px 0px;
  align-items: flex-start;
}
.marketplace .wrapper .upper-container h5 {
  color: #7BB564;
  font-size: 26px;
}
.marketplace .wrapper .upper-container p {
  text-align: start;
  color: #707070;
}
.marketplace .wrapper .middle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.marketplace .wrapper .middle-container h5 {
  font-size: 26px;
  color: #000000;
  margin-bottom: 10px;
}
.marketplace .wrapper .middle-container .categories-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
.marketplace .wrapper .middle-container .categories-container .category-box {
  width: 175px;
  height: 225px;
  background-color: #EBF4E7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.marketplace .wrapper .middle-container .categories-container .category-box figure {
  width: 100%;
  height: 100px;
}
.marketplace .wrapper .middle-container .categories-container .category-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.marketplace .wrapper .middle-container .categories-container .category-box p {
  font-size: 16px;
  color: #000000;
}
.marketplace .wrapper .middle-container .categories-container :hover {
  background-color: #7BB564;
}
.marketplace .wrapper .middle-container .categories-container :hover p {
  color: #F8F6F5;
}
.marketplace .wrapper .item-container {
  display: flex;
  margin: 20px 0px 0px 0px;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 30px;
}
.marketplace .wrapper .item-container h5 {
  font-size: 26px;
  color: #000000;
  font-weight: 400;
}
.marketplace .wrapper .item-container .items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
.marketplace .wrapper .item-container .items-wrapper a .item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.marketplace .wrapper .item-container .items-wrapper a .item-box figure {
  width: 220px;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}
.marketplace .wrapper .item-container .items-wrapper a .item-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.marketplace .wrapper .item-container .items-wrapper a .item-box p {
  font-size: 20px !important;
  font-weight: 300;
}

@media screen and (max-width: 1440px) {
  .marketplace .wrapper {
    max-width: 900px;
    min-height: calc(100vh - 351.5px);
  }
  .marketplace .wrapper h2 {
    font-size: 30px;
  }
  .marketplace .wrapper .upper-container h5 {
    font-size: 20px;
  }
  .marketplace .wrapper .middle-container h5 {
    font-size: 22px;
  }
  .marketplace .wrapper .middle-container .categories-container {
    gap: 30px;
  }
  .marketplace .wrapper .middle-container .categories-container .category-box {
    width: 150px;
    height: 200px;
  }
  .marketplace .wrapper .middle-container .categories-container .category-box p {
    font-size: 14px;
  }
  .marketplace .wrapper .item-container {
    gap: 30px;
  }
  .marketplace .wrapper .item-container h5 {
    font-size: 22px;
  }
  .marketplace .wrapper .item-container .items-wrapper {
    gap: 45px;
  }
  .marketplace .wrapper .item-container .items-wrapper a .item-box figure {
    width: 180px;
    height: 180px;
  }
  .marketplace .wrapper .item-container .items-wrapper a .item-box p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1024px) {
  .marketplace .wrapper {
    max-width: 640px;
    min-height: calc(100vh - 285.5px);
  }
  .marketplace .wrapper .upper-container h5 {
    font-size: 20px;
  }
  .marketplace .wrapper .upper-container p {
    font-size: 14px;
  }
  .marketplace .wrapper .middle-container .categories-container {
    gap: 20px;
  }
  .marketplace .wrapper .middle-container .categories-container .category-box {
    width: 130px;
    height: 180px;
  }
  .marketplace .wrapper .middle-container .categories-container .category-box p {
    font-size: 14px;
  }
  .marketplace .wrapper .item-container {
    gap: 30px;
  }
  .marketplace .wrapper .item-container h5 {
    font-size: 22px;
  }
  .marketplace .wrapper .item-container .items-wrapper {
    gap: 30px;
  }
  .marketplace .wrapper .item-container .items-wrapper a .item-box figure {
    width: 180px;
    height: 180px;
  }
  .marketplace .wrapper .item-container .items-wrapper a .item-box p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .marketplace .wrapper .item-container h5 {
    margin-inline: auto;
  }
  .marketplace .wrapper .item-container .items-wrapper {
    justify-content: space-around;
  }
}
@media screen and (max-width: 430px) {
  .marketplace .wrapper .item-container .items-wrapper a .item-box figure {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 320px) {
  .marketplace .wrapper .middle-container .categories-container .category-box {
    width: 230px;
  }
}/*# sourceMappingURL=marketplace.css.map */