.sellerpage {
  display: flex;
  background: #F8F6F5 0% 0% no-repeat padding-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sellerpage .wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sellerpage .wrapper .seller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 0px 0px;
}
.sellerpage .wrapper .seller figure {
  width: 150px;
  height: 150px;
}
.sellerpage .wrapper .seller figure img {
  width: 100%;
  height: 100%;
}
.sellerpage .wrapper .seller h3 {
  font-size: 30px;
  font-weight: 300;
}
.sellerpage .wrapper .seller div {
  font-size: 30px;
  color: #797A74;
  font-weight: 300;
  margin-bottom: 20px;
}
.sellerpage .wrapper .servicebook-container,
.sellerpage .wrapper .servicetags-container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.sellerpage .wrapper .servicebook-container a .servicetag-box,
.sellerpage .wrapper .servicetags-container a .servicetag-box {
  display: flex;
  gap: 31px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
}
.sellerpage .wrapper .servicebook-container a .servicetag-box figure,
.sellerpage .wrapper .servicetags-container a .servicetag-box figure {
  width: 80px;
  height: 80px;
  margin: 0;
}
.sellerpage .wrapper .servicebook-container a .servicetag-box figure img,
.sellerpage .wrapper .servicetags-container a .servicetag-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sellerpage .wrapper .servicebook-container a .servicetag-box p,
.sellerpage .wrapper .servicetags-container a .servicetag-box p {
  font-family: "Circular Spotify Text";
  text-align: center;
  font-weight: 300;
  margin: 0;
}
.sellerpage .wrapper .review-card {
  background-color: #EDEFEA;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  gap: 40px;
  border-radius: 60px;
}
.sellerpage .wrapper .review-card .rowta {
  display: flex;
  flex-direction: column;
}
.sellerpage .wrapper .review-card .circle {
  width: 130px;
  height: 130px;
}
.sellerpage .wrapper .review-card .circle figure {
  width: 100%;
  height: 100%;
}
.sellerpage .wrapper .review-card .circle figure img {
  width: 100%;
  height: 100%;
}
.sellerpage .wrapper .review-card h5 {
  font-size: 24px;
  text-align: left;
  font-family: "Circular Spotify Text";
}
.sellerpage .wrapper .review-card figure {
  width: 230px;
  -o-object-fit: none;
     object-fit: none;
  margin-bottom: 10px;
}
.sellerpage .wrapper .review-card figure img {
  width: 100%;
  height: 100%;
}
.sellerpage .wrapper .review-card p {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}
.sellerpage .wrapper .event {
  display: flex;
  flex-direction: column;
}
.sellerpage .wrapper .event h4 {
  font-size: 36px;
  color: #7BB564;
  margin-block: 20px;
}
.sellerpage .wrapper .event img {
  width: 60%;
  margin-inline: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 1440px) {
  .sellerpage .wrapper {
    max-width: 600px;
  }
  .sellerpage .wrapper .seller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px 0px;
  }
  .sellerpage .wrapper .seller figure {
    width: 120px;
    height: 120px;
  }
  .sellerpage .wrapper .seller h3 {
    font-size: 22px;
  }
  .sellerpage .wrapper .seller div {
    font-size: 20px;
  }
  .sellerpage .wrapper .servicebook-container a .servicetag-box,
  .sellerpage .wrapper .servicetags-container a .servicetag-box {
    display: flex;
    gap: 31px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
  }
  .sellerpage .wrapper .servicebook-container a .servicetag-box figure,
  .sellerpage .wrapper .servicetags-container a .servicetag-box figure {
    width: 60px;
    height: 60px;
  }
  .sellerpage .wrapper .servicebook-container a .servicetag-box figure img,
  .sellerpage .wrapper .servicetags-container a .servicetag-box figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .sellerpage .wrapper .review-card {
    width: 100%;
  }
  .sellerpage .wrapper .review-card .circle {
    width: 100px;
    height: 100px;
  }
  .sellerpage .wrapper .review-card h5 {
    font-size: 20px;
  }
  .sellerpage .wrapper .review-card figure {
    width: 180px;
  }
  .sellerpage .wrapper .review-card p {
    font-size: 16px;
  }
  .sellerpage .wrapper .event h4 {
    font-size: 24px;
  }
  .sellerpage .wrapper .event img {
    width: 100%;
  }
}/*# sourceMappingURL=sellerpage.css.map */