.servicehub {
  background: #F8F6F5 0% 0% no-repeat padding-box;
}
.servicehub .wrapper {
  width: 100%;
  max-width: 550px;
  margin-top: 50px;
  margin-inline: auto;
  padding-inline: 20px;
}
.servicehub .wrapper h2 {
  font-size: 36px;
  color: #7BB564;
}
.servicehub .wrapper h4 {
  font-size: 20px;
}
.servicehub .wrapper p {
  margin-bottom: 0;
  font-weight: 300;
}
.servicehub .wrapper .values-container {
  margin: 30px 0px;
  width: 100%;
  gap: 10px;
  text-align: left;
}
.servicehub .wrapper .values-container .values {
  width: 100%;
}
.servicehub .wrapper .values-container .values .outline-box {
  max-width: 100%;
  display: block;
  padding: 14px 18px;
  border: 1px solid #7BB564;
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: left;
}
.servicehub .wrapper .values-container .values .outline-box h3 {
  font-size: 16px;
  color: #737373;
  margin-bottom: 7px;
}
.servicehub .wrapper .values-container .values .outline-box p {
  font-size: 18px;
  color: #000000;
}
.servicehub .wrapper .values-container .values .outline-boxs {
  max-width: 100%;
  height: 150px;
  padding: 14px 18px;
  border: 1px solid #7BB564;
  border-radius: 16px;
  margin-bottom: 30px;
  text-align: left;
}
.servicehub .wrapper .values-container .values .outline-boxs h3 {
  font-size: 16px;
  color: #737373;
  margin-bottom: 7px;
}
.servicehub .wrapper .values-container .values .outline-boxs p {
  font-size: 18px;
  color: #000000;
}
.servicehub .wrapper .values-container h5 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}
.servicehub .wrapper .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 210px;
  border: 2px solid #EDEDED;
  border-radius: 10px;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.servicehub .wrapper .image-container p {
  font-size: 18px;
  color: #737373;
}
.servicehub .wrapper .image-container figure {
  width: 32px;
  height: 30px;
}
.servicehub .wrapper .image-container figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.servicehub .wrapper .confirm-notification {
  display: flex;
  background-color: #EBF4E7;
  color: #7BB564;
  padding: 22px;
  width: 100%;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
}
.servicehub .wrapper .confirm-notification span {
  color: #7BB564;
  font-size: 29px;
}
.servicehub .wrapper .confirm-notification p {
  color: #7BB564;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .servicehub .wrapper {
    max-width: 400px;
  }
  .servicehub .wrapper h2 {
    font-size: 30px;
  }
  .servicehub .wrapper .values-container h5 {
    font-size: 20px;
  }
  .servicehub .wrapper .values-container .values .outline-box p,
  .servicehub .wrapper .values-container .values .outline-boxs p {
    font-size: 16px;
  }
  .servicehub .wrapper .values-container .image-container p,
  .servicehub .wrapper .values-container .confirm-notification p {
    font-size: 16px;
  }
  .servicehub .wrapper .values-container .confirm-notification {
    padding: 12px;
    border-radius: 4px;
  }
  .servicehub .wrapper .values-container .confirm-notification span {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .servicehub .wrapper {
    max-width: 400px;
  }
  .servicehub .wrapper h2 {
    font-size: 24px;
  }
  .servicehub .wrapper p {
    font-size: 12px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=servicehub.css.map */
