.servicehub {
    background: #F8F6F5 0% 0% no-repeat padding-box;

    .wrapper {
        width: 100%;
        max-width: 550px;
        margin-top: 50px;
        margin-inline: auto;
        padding-inline: 20px;

        h2 {
            font-size: 36px;
            color: #7BB564;
        }

        h4 {
            font-size: 20px;
        }

        p {
            margin-bottom: 0;
            font-weight: 300;
        }

        .values-container {
            margin: 30px 0px;
            width: 100%;
            gap: 10px;
            text-align: left;

            .values {
                width: 100%;


                .outline-box {
                    width: 100%;
                    display: block;
                    padding: 14px 18px;
                    border: 1px solid #7BB564;
                    border-radius: 16px;
                    margin-bottom: 20px;
                    text-align: left;

                    h3 {
                        font-size: 16px;
                        color: #737373;
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: 18px;
                        color: #000000;
                    }
                }


                .outline-boxs {
                    max-width: 100%;
                    height: 150px;
                    padding: 14px 18px;
                    border: 1px solid #7BB564;
                    border-radius: 16px;
                    margin-bottom: 30px;
                    text-align: left;

                    h3 {
                        font-size: 16px;
                        color: #737373;
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: 18px;
                        color: #000000;
                    }
                }
            }


            h5 {
                font-size: 24px;
                color: #000000;
                margin-bottom: 10px;
            }

        }

        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 210px;
            border: 2px solid #EDEDED;
            border-radius: 10px;
            gap: 20px;
            justify-content: center;
            margin-bottom: 20px;

            p {
                font-size: 18px;
                color: #737373;
            }

            figure {
                width: 32px;
                height: 30px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

        }

        .confirm-notification {
            display: flex;
            background-color: #EBF4E7;
            color: #7BB564;
            padding: 22px;
            width: 100%;
            gap: 20px;
            align-items: center;
            border-radius: 8px;

            span {
                color: #7BB564;
                font-size: 29px;
            }

            p {
                color: #7BB564;
                font-size: 18px;
            }
        }
    }
}


@media screen and (max-width:1024px) {
    .servicehub {
        .wrapper {
            max-width: 400px;

            h2 {
                font-size: 30px;
            }

            .values-container {

                h5 {
                    font-size: 20px;
                }

                .values {

                    .outline-box,
                    .outline-boxs {
                        p {
                            font-size: 16px;
                        }
                    }
                }

                .image-container,
                .confirm-notification {
                    p {
                        font-size: 16px;
                    }
                }

                .confirm-notification {
                    padding: 12px;
                    border-radius: 4px;

                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .servicehub {
        .wrapper {
            max-width: 400px;


            p {
                font-size: 12px;
                line-height: 18px;
            }

        }
    }
}