.signin-page{
    display: flex;
    // align-items: center;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: center;
    height: 100vh;
    .container{
        max-width: 639px;
        width: 100%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .headu{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         h2{
            margin-top: 85px;
            margin-bottom: 44px;
            font-size: 80px;
         }
            figure{ 
                 width: 263px;
                    height: 87px;
                img{
                  width: 100%;
                  height: 100%;
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
             gap: 40px;
             align-items: center;
            .input-container{
                position: relative;
                width: 100%;
                display: flex;
            input{
                width: 100%;
                flex: 1;
                font-size:  39px;
                background-color: white;
                border-radius: 333px;
                border: none;
                outline: none;
                color: #6F6F6F;
                padding: 34px 0px 29px 99px;
            }   
            .icon{

            }  
            }
            .forgetti-password{
                color: #91B375;
                font-size: 22px;
                text-align: end;
                width: 100%;
           }
           .btn{
             font-size: 39px;
             padding: 23px 172px 18px 172px;
             background-color: #91B375;
             color: #FFFFFF;border: none;
             border-radius: 2222px;
             font-family: 'Circular Spotify Text';
             width: fit-content;
           }
           .continue{
              margin-top: -20px;
              text-align: center;
              margin-bottom: 23px;
              font-size: 26px;
           }
        }
        .media-newhub{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .media-accounts{
                display: flex;
                justify-content: space-around;
                figure{
                      width: 108px;
                      height: 108px;
                  img{
                     width: 100%;
                     height: 100%;
                     object-fit: none;
                  }
                }
            }
            .new-to-unihub{
                font-size: 44px;
                text-align: center;
                color: black;
                margin: 0;
                span{
                  color: #91B375;
                }
            }
        }
    }
}
@media only screen and (max-width: 1550px) {
    .signin-page{
        display: flex;
        // align-items: center;
        background: #F8F6F5 0% 0% no-repeat padding-box;
        justify-content: center;
        height: 100vh;
        .container{
            max-width: 550px;
            width: 100%;
            /* height: 100%; */
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin:20px 0px;
            .headu{
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             h2{
                margin-top: 45px;
                margin-bottom: 24px;
                font-size: 45px;
             }
                figure{ 
                     width: 223px;
                        height: 67px;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                }
            }
            form{
                display: flex;
                flex-direction: column;
                 gap: 30px;
                 align-items: center;
                .input-container{
                    position: relative;
                    width: 100%;
                    display: flex;
                input{
                    width: 100%;
                    flex: 1;
                    font-size:  28px;
                    background-color: white;
                    border-radius: 333px;
                    border: none;
                    outline: none;
                    color: #6F6F6F;
                    padding: 24px 0px 19px 69px;
                }   
                .icon{
    
                }  
                }
                .forgetti-password{
                    color: #91B375;
                    font-size: 20px;
                    margin: -25px;
                    text-align: end;
                    width: 100%;
               }
               .btn{
                 font-size: 28px;    padding: 11px 80px 5px 80px;

                 background-color: #91B375;
                 color: #FFFFFF;border: none;
                 border-radius: 2222px;
                 font-family: 'Circular Spotify Text';
                 width: fit-content;
               }
               .continue{
                  margin-top: -20px;
                  text-align: center;
                  margin-bottom: 23px;
                  font-size: 26px;
               }
            }
            .media-newhub{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .media-accounts{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap:20px;
                    figure{
                          width: 60px;
                          height: 60px;
                          margin-bottom: 20px;
                      img{
                         width: 100%;
                         height: 100%;
                         object-fit: scale-down;
                      }
                    }
                }
                .new-to-unihub{
                    font-size: 24px;
                    text-align: center;
                    color: black;
                    margin: 0;
                    span{
                      color: #91B375;
                    }
                }
            }
        }
    }
}