.tab-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    max-width: 550px;

    h2 {
        color: #7BB564;
        margin: 10px 0px 10px 0px;
    }

    .upper {
        font-size: 20px;
        font-weight: 300;
        color: #707070;
    }


    p {
        font-size: 28px;
        font-weight: 300;
        margin: 12px 0px;
    }

    .form-control {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 16px;


        .input-container {
            border-radius: 6px;
            margin: 0 0 20px 0;

            label {
                font-size: 18px;
                margin: 0;
                padding: 10px 0 0 20px;
            }

            input {
                font-size: 20px;
                font-weight: 300;
                height: auto;
                border-color: none;
                padding: 5px 0px 5px 20px;
            }
        }


    }

    .primary-btn button {
        width: auto !important;
    }

    .lower {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1440px) {
    .tab-details {
        margin-top: 50px;
        max-width: 400px;

        h2 {
            font-size: 36px;
        }

        .upper {
            font-size: 16px;
        }

        p {
            font-size: 20px;
        }

        .lower {
            font-size: 16px;
        }

    }
}

@media screen and (max-width:1024px) {
    .tab-details {
        margin-top: 0px;

        h2 {
            font-size: 30px;
        }

        .upper {
            font-size: 16px;
        }

        p {
            font-size: 20px;
        }

        .form-control {


            .input-container {
                border-radius: 7px;
                margin: 0 0 15px 0;

                label {
                    font-size: 16px;
                    margin: 0;
                    padding: 5px 0 0 20px;
                }

                input {
                    font-size: 16px;
                    padding: 0px 0px 5px 20px;
                }
            }


        }

        .lower {
            font-size: 16px;
        }

    }
}

@media screen and (max-width:768px) {
    .tab-details {

        .primary-btn {
            button {
                padding: 10px 15px 10px 15px;
            }
        }
    }
}