.tab-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px;
  max-width: 1025px;
}
.tab-order h2 {
  font-size: 115px;
  color: #7BB564;
  font-weight: 900;
}
.tab-order .order-details {
  font-size: 35px;
  color: #707070;
  width: 870px;
  font-weight: 200;
  text-align: left;
  margin-bottom: 200px;
}
.tab-order .heading {
  font-size: 40px;
  text-align: left;
  width: 870px;
  margin-bottom: 50px;
  color: black;
}
.tab-order .price {
  color: #7BB564;
  font-size: 40px;
  text-align: left;
  width: 870px;
  margin-bottom: 50px;
}
.tab-order .upper {
  font-size: 30px;
  font-weight: 400;
  color: #707070;
}
.tab-order p {
  font-size: 57px;
  font-weight: 300;
}
.tab-order .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.tab-order .row p {
  font-size: 56px;
  font-weight: 300;
}
.tab-order .row figure {
  width: 60px;
  height: 55px;
}
.tab-order .row figure img {
  width: 100%;
  height: 100%;
}
.tab-order .lower {
  font-size: 30px;
  font-weight: 500;
}
.tab-order input {
  font-size: 41px !important;
  height: auto;
  border-color: none !important;
  padding: 7px 0px 10px 20px;
  font-weight: inherit;
}
.tab-order .order-btn {
  width: 100%;
  color: #7BB564;
  margin: 102px 0px;
}
.tab-order .order-btn button {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 73px 95px 69px 170px;
  border-radius: 111110px;
}

@media only screen and (max-width: 1750px) {
  .tab-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1025px;
  }
  .tab-order h2 {
    font-size: 48px;
    color: #7BB564;
    font-weight: 900;
  }
  .tab-order .order-details {
    font-size: 24px;
    color: #707070;
    width: 870px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 40px;
  }
  .tab-order .heading {
    font-size: 24px;
    text-align: left;
    width: 870px;
    margin-bottom: 20px;
    color: black;
  }
  .tab-order .support {
    font-size: 24px;
    text-align: left;
    max-width: 870px;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    color: black;
  }
  .tab-order .price {
    color: #7BB564;
    font-size: 24px;
    text-align: left;
    width: 870px;
    margin-bottom: 25px;
  }
  .tab-order .upper {
    font-size: 24px;
    font-weight: 400;
    color: #707070;
  }
  .tab-order p {
    font-size: 57px;
    font-weight: 300;
  }
  .tab-order .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .tab-order .row p {
    font-size: 32px;
    font-weight: 300;
  }
  .tab-order .row figure {
    width: 28px;
    height: 24px;
  }
  .tab-order .row figure img {
    width: 100%;
    height: 100%;
  }
  .tab-order .lower {
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0px 0px 0px;
  }
  .tab-order .form-control {
    width: 520px;
  }
  .tab-order .form-control .input-container {
    margin: 30px;
  }
  .tab-order .form-control .input-container label {
    font-size: 18px;
    margin: 0;
  }
  .tab-order .input {
    font-size: 18px !important;
    height: auto;
    border-color: none !important;
    padding: 7px 0px 10px 20px;
    width: 99%;
    font-weight: inherit;
  }
  .tab-order .order-btn {
    width: 100%;
    color: #7BB564;
    margin: 25px 0px;
  }
  .tab-order .order-btn button {
    font-size: 23px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px 35px 65px;
    border-radius: 111110px;
    width: 400px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1550px) {
  .tab-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1025px;
  }
  .tab-order h2 {
    font-size: 48px;
    color: #7BB564;
    font-weight: 900;
  }
  .tab-order .order-details {
    font-size: 20px;
    color: #707070;
    width: 870px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 40px;
  }
  .tab-order .heading {
    font-size: 18px;
    text-align: left;
    width: 870px;
    margin-bottom: 20px;
    color: black;
  }
  .tab-order .support {
    font-size: 18px;
    text-align: left;
    max-width: 870px;
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    color: black;
  }
  .tab-order .price {
    color: #7BB564;
    font-size: 18px;
    text-align: left;
    width: 870px;
    margin-bottom: 25px;
  }
  .tab-order .upper {
    font-size: 20px;
    font-weight: 200;
  }
  .tab-order p {
    font-size: 44px;
    font-weight: 300;
  }
  .tab-order .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .tab-order .row p {
    font-size: 32px;
    font-weight: 300;
  }
  .tab-order .row figure {
    width: 28px;
    height: 24px;
  }
  .tab-order .row figure img {
    width: 100%;
    height: 100%;
  }
  .tab-order .lower {
    font-size: 18px;
    font-weight: 300;
    margin: 30px 0px 0px 0px;
  }
  .tab-order .form-control {
    width: 700px;
  }
  .tab-order .form-control .input-container {
    margin: 30px;
  }
  .tab-order .form-control .input-container label {
    font-size: 18px;
    margin: 0;
  }
  .tab-order .input {
    font-size: 16px !important;
    height: auto;
    border-color: none !important;
    padding: 7px 20px 10px 20px;
    font-weight: inherit;
    margin: 0;
  }
  .tab-order .order-btn {
    width: 100%;
    color: #7BB564;
    margin: 25px 0px;
  }
  .tab-order .order-btn button {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 28px 30px 52px;
    border-radius: 111110px;
    width: 300px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=order.css.map */