.tab-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 550px;

    h2 {
        color: #7BB564;
    }

    .upper {
        font-size: 20px;
        font-weight: 300;
        color: #707070;
    }

    .form-control {
        width: 100%;

        .input-container {
            margin: 10px;

            label {
                font-size: 18px;
                margin: 0;
            }

            input {
                font-size: 20px;
                height: auto;
                border-color: none;
                padding: 7px 0px 10px 20px;
                font-weight: inherit;
                color: #000;
            }
        }
    }

    p {
        font-size: 32px;
        font-weight: 300;
    }

}

@media screen and (max-width:1440px) {
    .tab-tickets {
        margin-top: 50px;

        h2 {
            font-size: 30px;
        }

        .upper {
            font-size: 16px;
        }

        .form-control {
            gap: 10px;
            display: flex;
            flex-direction: column;

            .input-container {
                margin: 16px 25px;
                border-radius: 16px;

                label {
                    font-size: 16px;
                    padding: 10px 0 0 20px;
                }

                input {
                    font-size: 16px;
                    padding: 5px 0 5px 20px;
                }
            }
        }

        p {
            font-size: 20px;
        }

        .lower {
            font-size: 16px;
        }

    }
}