.tab-wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1025px;
   
    h2{
     font-size: 115px;
     color: #7BB564;
     font-weight: 900;
    }
    h3{
        font-size: 84px;
        color: #7BB564;
        font-weight: 900;
       }
    .upper{
   font-size :30px;
    font-weight: 200;
}
    p{
        font-size: 57px;  font-weight: 300;
    }
    .lower{
        font-size: 39px;  font-weight: 300;
    }
    input{
        font-size: 41px !important;
        height: auto;
        border-color: none !important;
        padding: 7px 0px 10px 20px;
        font-weight: inherit;
    }
    .wallet-btn{
          width: 100%;
          color: #7BB564;
          margin: 102px 0px ;
          button{
            font-size: 40px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 73px 95px 69px 170px ;
            border-radius: 111110px;
          }
    }
}
@media only screen and (max-width: 1750px) {
    .tab-wallet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1025px;
       
        h2{
         font-size: 56px;
         color: #7BB564;
         font-weight: 900;
        }
        h3{
            font-size: 32px;
            color: #7BB564;
            font-weight: 900;
           }
        .upper{
       font-size :24px;
        font-weight: 200;
    }
    .form-control{
        width: 700px;
        .input-container{
            margin: 10px;
            label{
                font-size: 18px;
                margin: 0;
            }
        }
    }
        p{
            font-size: 18px;
            margin: 20px 0px 20px 0px;
            font-weight: 300;     }
        .lower{
            font-size: 22px;  font-weight: 300;
        }
        input{
            font-size: 24px !important;
            height: auto;
            border-color: none !important;
            padding: 7px 0px 10px 20px;
            font-weight: inherit;
        }
        .wallet-btn{
              width: 100%;
              color: #7BB564;
              margin: 102px 0px ;
              button{
                font-size: 24px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 50px 45px 50px 75px;
                border-radius: 111110px;
                width: 400px;
               margin: 0 auto 20px auto;
              }
        }
    }
}