.tab-wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;

    h2 {
        color: #7BB564;
    }

    h3 {
        font-size: 18px;
        color: #7BB564;
    }

    .upper,
    .lower {
        font-size: 20px;
        font-weight: 300;
    }

    .form-control {
        width: 520px;
        gap: 10px;
        display: flex;
        flex-direction: column;

        .input-container {
            margin: 16px 25px;
            border-radius: 16px;

            label {
                font-size: 18px;
                margin: 0;
            }

            input {
                font-size: 20px;
                height: auto;
                border-color: none;
                padding: 7px 0px 10px 20px;
                font-weight: 300;
            }
        }
    }

    p {
        margin-block: 10px;
        font-weight: 500;
    }



}

@media screen and (max-width:1440px) {
    .tab-wallet {
        margin-top: 50px;

        h2 {
            font-size: 36px;
        }

        .upper {
            font-size: 16px;
        }

        .form-control {
            width: 520px;
            gap: 10px;
            display: flex;
            flex-direction: column;

            .input-container {
                margin: 16px 25px;
                border-radius: 16px;

                label {
                    padding: 10px 0 0 20px;
                }

                input {
                    padding: 5px 0 5px 20px;
                }
            }
        }


    }
}