/* DateTimePickerStyles.css */

/* ... other styles */

.react-datetime-picker__calendar {
    background-color: white;
  }
  
  .react-datetime-picker__calendar__month-view__days__day--selected {
    /* Selected day styles */
    background-color: #7BB564;
    color: black;
    border-radius: 50%;
  }
  
  .react-datetime-picker__calendar__year-view__months__month--selected {
    /* Selected month styles */
    background-color: #7BB564;
    color: black;
    border-radius: 50%;
  }
  
  .react-datetime-picker__clock__value {
    /* Selected time styles */
    background-color: #7BB564;
    color: black;
    border-radius: 50%;
  }
  