.footer {
  display: flex;
  background-color: #a1b086;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
  padding-block: 20px;

  .container {
    max-width: 1340px;
    flex: 1;
    width: 100%;
    margin-inline: 30px;
    display: flex;
    flex-direction: column;

    .diver,
    .divner {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;

      .left,
      .right {
        display: flex;
        flex-direction: column;
        font-size: 40px;

        h3 {
          margin-block: 10px;
        }

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
        }

        .media-accounts {
          display: flex;
          gap: 50px;
        }
      }

    }

    .divner {
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .footer {
    .container {
      max-width: 90%;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .footer {
    .container {
      .divner {
        flex-direction: column;

        .left {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    .container {

      .diver,
      .divner {
        flex-direction: column;

        .right,
        .left {
          ul {
            .footer-link {
              text-align: center;
            }
          }
        }
      }
    }
  }
}