.messages {
  display: flex;
  background: #F8F6F5 0% 0% no-repeat padding-box;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.messages .wrapper {
  flex: 1;
  width: 100%;
  max-width: 1550px;
  min-height: calc(100vh - 438px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.messages .wrapper h4 {
  font-size: 70px;
  font-weight: 400;
}
.messages .wrapper h3 {
  font-size: 36px;
  font-weight: 600;
}
.messages .wrapper p {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
}
.messages .wrapper .messenger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.messages .wrapper .messenger-container .messenger-box {
  display: flex;
  gap: 70px;
}
.messages .wrapper .messenger-container .messenger-box .figure {
  width: 200px;
}
.messages .wrapper .messenger-container .messenger-box .figure img {
  width: 100%;
  height: 100%;
}
.messages .wrapper .messenger-container .messenger-box .upper-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.messages .wrapper .messenger-container .messenger-box .upper-row p {
  font-size: 76px;
  opacity: 1;
}
.messages .wrapper .messenger-container .messenger-box .upper-row span {
  font-size: 24px;
  font-weight: 300;
}
.messages .wrapper .messenger-container .messenger-box .name-message {
  display: flex;
  text-align: left;
  width: 100%;
  flex-direction: column;
}

@media only screen and (max-width: 1920px) {
  .messages {
    display: flex;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .messages .wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .messages .wrapper h4 {
    font-size: 48px;
    margin: 30px 0px 0px;
  }
  .messages .wrapper h3 {
    font-size: 24px;
  }
  .messages .wrapper .count-message {
    margin-bottom: 20px;
  }
  .messages .wrapper p {
    font-size: 20px;
  }
  .messages .wrapper .messenger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .messages .wrapper .messenger-container .messenger-box {
    display: flex;
    width: 90%;
    gap: 60px;
  }
  .messages .wrapper .messenger-container .messenger-box .figure {
    width: 110px;
  }
  .messages .wrapper .messenger-container .messenger-box .figure figure {
    width: 100px;
    height: 100px;
  }
  .messages .wrapper .messenger-container .messenger-box .figure figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .messages .wrapper .messenger-container .messenger-box .upper-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .messages .wrapper .messenger-container .messenger-box .upper-row p {
    font-size: 38px;
    opacity: 1;
  }
  .messages .wrapper .messenger-container .messenger-box .upper-row span {
    font-size: 18px;
  }
  .messages .wrapper .messenger-container .messenger-box .name-message {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    flex-direction: column;
  }
  .messages .wrapper .messenger-container .messenger-box .name-message p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .messages .wrapper .messenger-container {
    width: 70%;
  }
}

/*# sourceMappingURL=message.css.map */
