
.messages {
    display: flex;
    // align-items: center;
    background: #F8F6F5 0% 0% no-repeat padding-box;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .wrapper {
        flex: 1;
        width: 100%;
        max-width: 640px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        min-height: calc(100vh - 313px);
        padding-inline: 10px;

        h4 {
            font-size: 48px;
            margin: 30px 0px 0px;
        }

        h3 {
            font-size: 24px;
            font-weight: 600;
        }

        .count-message {
            margin-bottom: 20px;
            font-weight: 300;
        }

        p {
            font-size: 20px;
        }

        .messenger-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
           
            .messenger-box {
                display: flex;
                width: 90%;
                border: 1px solid #cacaca;
                border-radius: 6px;
                padding: 10px 0px 10px 15px;
                gap: 60px;

                .figure {
                    width: 110px;

                    figure {
                        width: 100px !important; 
                        height: 100px !important;

                        img {
                            width: 100%;
                            border-radius: 444px;
                            height: 100%;
                             border: 1px solid #cacaca;
                            object-fit: contain;
                        }
                    }
                }

                .upper-row {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 38px;
                        opacity: 1;
                        font-weight: 300;
                    }

                    span {
                        font-size: 18px;
                    }
                }

                .name-message {
                    display: flex;
                    justify-content: center;
                    text-align: left;
                    width: 100%;
                    flex-direction: column;

                    p {
                        font-size: 20px;
                        font-weight: 300;
                    }
                }

            }

        }
    }
}

@media only screen and (max-width: 1440px) {
    .messages {

        .wrapper {
            min-height: calc(100vh - 251.5px);

            h4 {
                font-size: 30px;
                margin: 30px 0px 0px;
            }

            h3 {
                font-size: 18px;
                font-weight: 600;
            }

            .count-message {
                font-size: 14px;
            }

            p {
                font-size: 20px;
            }

            .messenger-container {
                margin-bottom: 10px;

                .messenger-box {
                    display: flex;
                    width: 80%;
                    gap: 30px;

                    .figure {
                        width: 70px !important; 
                        height: 70px !important;

                        figure {
                            width: 70px !important; 
                            height: 70px !important;
    

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .upper-row {
                        display: flex;
                        width: 95%;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            font-size: 36px;
                            opacity: 1;
                            font-weight: 300;
                        }

                        span {
                            font-size: 14px;
                        }

                    }

                    .name-message {
                        display: flex;
                        justify-content: center;
                        text-align: left;
                        width: 100%;
                        flex-direction: column;

                        p {
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }

                }

            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .messages {
        .wrapper {
            h4 {
                margin-top: 0;
            }

            .messenger-container {
                margin-bottom: 0;

                .messenger-box {
                    width: 100%;
                    gap: 20px;
                }
            }
        }
    }
}